---
layout: default
---

<!--Fejlec-->
<amp-sidebar id="sidebar" class="cid-rItGNY1iIp" layout="nodisplay" side="right">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>


            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="index.html#contacts3-6">
                        Elérhetőségek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="index.html#features10-5">
                        Csapatunk</a>
                </li></ul>

            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-7" href="index.html#contacts2-3">Ajánlatkérés</a></div>
      </div>
    </amp-sidebar>
  <section class="menu horizontal-menu cid-rItGNY1iIp" id="menu2-0">

<!--Navigacios sav-->
    <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
      <div class="brand">
          <span class="brand-images">
              <amp-img src="logo.png" layout="responsive" width="45.71808510638298" height="45" alt="Pannon Art Line Kft" class="mobirise-loader">
                  <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>

              </amp-img>
          </span>
          <p class="brand-name mbr-fonts-style mbr-bold display-5">Komit-Home Kft.</p>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="index.html#contacts3-6">
                        Elérhetőségek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="index.html#features10-5">
                        Csapatunk</a>
                </li></ul>

            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-7" href="index.html#contacts2-3"">Ajánlatkérés</a></div>
      </div>

      <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    </nav>

  <!-- Bemutatkozas -->
</section>
<section class="engine"></section><section class="header2 cid-rItGQhsK68" id="header2-1">
    <div class="container">
        <div class="mbr-row mbr-justify-content-center">
            <div class="mbr-col-lg-8">
                <h1 class="mbr-fonts-style align-center mbr-bold display-1">Komit-Home Kft.</h1>
                <h3 class="mbr-fonts-style align-center display-5">Cégünk fő profilja a villanyszerelés, elektromos hálózat kialakítása, csarnokok, lakások, családi és irodaházak teljes körű villanyszerelése és karbantartása.</h3>
                <h3 class="mbr-fonts-style align-center display-5">E mellett új elektromoshálózat kiépítése és kisebb szerelések, kiépítések.</h3>
                <div class="mbr-text align-center">

                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="index.html#contacts2-3">Ajánlatkérés</a>
                    <a class="btn btn-md btn-warning display-4" href="index.html#features10-5">Csapatunk</a></div>
                <amp-img src="intro.jpg" alt="Komit-Home Kft." width="16" height="9" layout="responsive" class="mobirise-loader">
                    <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div>
                              </div>
                </amp-img>
            </div>
        </div>
    </div>
</section>


 <!-- Csapatunk -->
<section class="features10 cid-rItHzk1Efv" id="features10-5">
    <div class="container">
                <div class="mbr-row mbr-justify-content-center">
                    <div class="mbr-col-lg-8">
                        <h1 class="mbr-fonts-style align-center mbr-bold display-1">Csapatunk</h1>
                        <!-- Fischer Károly -->
                        <div class="row">
                          <link href="mystyle.css" rel="stylesheet" type="text/css" >
                          <div class="column">
                            <div class="card">
                              <img src="profile-pic copy.png" alt="Jane" style="width:100%">
                              <div class="container">
                                <h2>Fischer Károly</h2>
                                <p class="title">Ügyvezető</p>
                                <a></a>
                                <p>Telefon:
                                <a href="tel:+36 70 672 1919">
                                  +36 70 672 1919</a>
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- Bodó Zsolt -->
                          <div class="column">
                            <div class="card">
                              <img src="profile-pic copy.png" alt="Mike" style="width:100%">
                              <div class="container">
                                <h2>Bodó Zsolt</h2>
                                <p class="title">Erősáramú kivitelezés</p>
                                <p>Telefon:
                                    <a href="tel:+36 70 672 1920">+36 70 672 1920</a>
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- Bella Frank -->
                          <div class="column">
                            <div class="card">
                              <img src="profile-pic copy.png" alt="John" style="width:100%">
                              <div class="container">
                                <h2>Bella Frank</h2>
                                <p class="title">Gyengeáramú kivitelezés</p>
                                <p> Telefon:
                                <a href="tel:+36 70 770 0173">
                                  +36 70 770 0173</a>
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- Mitrácska Máté -->
                          <div class="column">
                            <div class="card">
                              <img src="profile-pic copy.png" alt="Jane" style="width:100%">
                              <div class="container">
                                <h2>Mitrácska Máté</h2>
                                <p class="title">Klíma és szellőző berndezések</p>
                                <p>Telefon:
                                <a href="tel:+36 30 633 1863">+36 30 633 1863</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
</section>

<!--Ajanlatkeres-->
<section class="contacts2 cid-rItGYp7bZY" id="contacts2-3">
    <div class="container">
        <h2 class="align-center mbr-fonts-style mbr-light display-2">Ajánlatkérés</h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style mbr-light display-5">Kérem töltse ki!</h3>

        <div class="mbr-row mbr-justify-content-center">
          <div class="mbr-col-lg-6  mbr-col-md-10 " data-form-type="formoid">
            <form id="contact-form" method="post">
              <div class="mbr-row">

<div class="field mbr-col-sm-12 mbr-col-md-4 mbr-col-lg-4">
          <input type="text" style="height:35px;" id="name-input" placeholder="Név" class="form-control" style="width:100%;" /><br/>
</div><div class="field mbr-col-sm-12 mbr-col-md-4 mbr-col-lg-4">
          <input type="phone" style="height:35px;" id="phone-input" placeholder="Telefonszám" class="form-control" style="width:100%;"/><br/>
</div><div class="field mbr-col-sm-12 mbr-col-md-4 mbr-col-lg-4">
          <input type="email" style="height:35px;" id="email-input" placeholder="Email cím" class="form-control" style="width:100%;"/><br/>
</div>
<div class="field mbr-col-sm-12 mbr-col-md-4 mbr-col-lg-4">
<select>
  <<option value="">Épület típusa*</option>
  <<option value="lakas">lakás</option>
  <<option value="nyaralo">nyaraló</option>
  <<option value="panzio">panzió</option>
  <<option value="uzlet">üzlet</option>
  <<option value="csaladihaz">családi ház</option>
  <<option value="tarsashaz">társasház</option>
  <<option value="uzemcsarnok">üzemcsarnok</option>
  <<option value="irodahaz">irodaház</option>
  <<option value="egyeb">egyéb</option>
</select>
</div>
<div class="field mbr-col-sm-12 mbr-col-md-4 mbr-col-lg-4">
<select>
  <<option value="">Igényelt szolgáltatások*</option>
  <<option value="villanyszereles">villanyszerelés</option>
  <<option value="felujitas">felújítás</option>
  <<option value="villanyvedelmi">villanyvédelmi rendszerek</option>
  <<option value="javtas">javítás</option>
  <<option value="terheleselosztas">terheléselosztás</option>
  <<option value="iparielektronika">ipari elektronika</option>
  <<option value="klímaésszellőzőberndezések">klíma és szellőző berndezések</option>
  <<option value="egyeb">egyéb</option>
</select>
</div>

<!--
Ide kene a lakcim

Majd ide kene rakni a lacim blokkot!!!!
-->

<div

<div class="area field mbr-col-sm-12 mbr-col-md-12 mbr-col-lg-12" >
          <textarea id="description-input" rows="3" placeholder="Ajánlatkérés részletezése" class="form-control" style="width:100%;"></textarea><br/>
</div>
          <div class="g-recaptcha" data-sitekey="6LeS-MMUAAAAABkA-2DTahmgquhLLz2P8_JHtQSy" class="form-control" style="width:100%;"></div>
</div><div class="mbr-section-btn align-center">
          <a  class="btn btn-md btn-primary display-4" onClick="submitToAPI(event)"> Küldés</a>  </div>
</div>
    </form>
            </div>
    </div>
</section>

<!--Kapcsolat-->
<section class="contacts3 map cid-rIxOuXjbjt" id="contacts3-6">
    <div class="container">
        <div class="mbr-row mbr-justify-content-center main-row">
            <div class="mbr-col-md-12 mbr-col-sm-12 map-content mbr-col-lg-6">
              <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                    var setting = {"height":400,"width":600,"zoom":17,"queryString":"Budapest, Garay tér 19, 1076 Hungary","place_id":"ChIJL7SXWH3cQUcRhWgaPQE9kN8","satellite":false,"centerCoord":[47.50437766733297,19.084725600000006],"cid":"0xdf903d013d1a6885","lang":"en","cityUrl":"/hungary/budapest","cityAnchorText":"Map of Budapest, Pest, Hungary","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"406012"};
                    var d = document;
                    var s = d.createElement('script');
                    s.src = 'https://1map.com/js/script-for-user.js?embed_id=406012';
                    s.async = true;
                    s.onload = function (e) {
                      window.OneMap.initMap(setting)
                    };
                    var to = d.getElementsByTagName('script')[0];
                    to.parentNode.insertBefore(s, to);
                  })();</script><a href="https://1map.com/map-embed">1 Map</a>
                </div>
            </div>


            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 contact-content">
                <div class="contact-wrap">
                <div class="mbr-row">



                <div class="list-item mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"><svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="33" height="33"><path d="M18.9 24l-.7-.4C14.4 21.5 11 19.1 7.9 16 4.9 13 2.4 9.6.4 5.8L0 5.1 5.1 0l6.2 6.2-2 2.9 5.5 5.5 2.9-2 6.2 6.2-5 5.2zm-9.6-9.3c2.8 2.7 5.8 5 9.2 6.9l2.7-2.7-3.6-3.6-2.9 2-7.9-7.9 2-2.9-3.7-3.7-2.6 2.7c1.9 3.4 4.1 6.4 6.8 9.2z"></path></svg></span>
                        </div>
                        <p class="mbr-fonts-style list-item-text display-7"> <a href="tel:+36308510391">+36 70 672 1919</p></a>
                    </div><div class="list-item mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"><svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="33" height="33"><path d="M0 4v16h24V4H0zm19.8 2L12 10.7 4.2 6h15.6zM2 18V7l10 6 10-6v11H2z"></path></svg></span>
                        </div>
                        <p class="mbr-fonts-style list-item-text display-7"><a href="mailto:info@komithome.hu?Subject=Érdeklődés-komithome.hu" target="_top">nem tudom meg </p></a>
                    </div><div class="list-item mbr-col-lg-6 mbr-col-md-6 mbr-col-sm-12">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-pin"><svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 32 32" fill="currentColor">

<path d="M16 6c-3.32 0-6 2.704-6 6s2.68 6 6 6 6-2.704 6-6-2.68-6-6-6zM16 8c2.232 0 4 1.78 4 4s-1.768 4-4 4-4-1.78-4-4c0-2.22 1.768-4 4-4zM16 0c-6.616 0-12 5.384-12 12 0 12.524 11.44 19.812 11.44 19.812 0.326 0.224 0.794 0.224 1.12 0 0 0 11.44-7.372 11.44-19.812 0-6.616-5.384-12-12-12zM16 2c5.534 0 10 4.464 10 10 0 10.616-9.012 16.944-10 17.626-0.994-0.68-10-6.926-10-17.626 0-5.536 4.466-10 10-10z"></path>
</svg></span>
                        </div>
                        <p class="mbr-fonts-style list-item-text display-7">1076 Budapest, Garay tér 19.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
